In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import joblib

In [2]:
data = pd.read_csv('D:/Project/dataset/heart/heart.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
data = data.drop(['fbs','ca'], axis=1)
data.head()

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,slope,thal,target
0,63,1,3,145,233,0,150,0,2.3,0,1,1
1,37,1,2,130,250,1,187,0,3.5,0,2,1
2,41,0,1,130,204,0,172,0,1.4,2,2,1
3,56,1,1,120,236,1,178,0,0.8,2,2,1
4,57,0,0,120,354,1,163,1,0.6,2,2,1

In [5]:
reg2 = LogisticRegression()
reg2

LogisticRegression()

In [6]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]
X.head()

   age  sex  cp  trestbps  chol  restecg  thalach  exang  oldpeak  slope  thal
0   63    1   3       145   233        0      150      0      2.3      0     1
1   37    1   2       130   250        1      187      0      3.5      0     2
2   41    0   1       130   204        0      172      0      1.4      2     2
3   56    1   1       120   236        1      178      0      0.8      2     2
4   57    0   0       120   354        1      163      1      0.6      2     2

In [7]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)

In [9]:
X_train

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,slope,thal
125,34,0,1,118,210,1,192,0,0.7,2,2
192,54,1,0,120,188,1,113,0,1.4,1,3
285,46,1,0,140,311,1,120,1,1.8,1,3
279,61,1,0,138,166,0,125,1,3.6,1,2
152,64,1,3,170,227,0,155,0,0.6,1,3
...,...,...,...,...,...,...,...,...,...,...,...
188,50,1,2,140,233,1,163,0,0.6,1,3
71,51,1,2,94,227,1,154,1,0.0,2,3
106,69,1,3,160,234,0,131,0,0.1,1,2
270,46,1,0,120,249,0,144,0,0.8,2,3
102,63,0,1,140,195,1,179,0,0.0,2,2

In [10]:
X_test

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,slope,thal
179,57,1,0,150,276,0,112,1,0.6,1,1
228,59,1,3,170,288,0,159,0,0.2,1,3
111,57,1,2,150,126,1,173,0,0.2,2,3
246,56,0,0,134,409,0,150,1,1.9,1,3
60,71,0,2,110,265,0,130,0,0.0,2,2
9,57,1,2,150,168,1,174,0,1.6,2,2
119,46,0,0,138,243,0,152,1,0.0,1,2
223,56,0,0,200,288,0,133,1,4.0,0,3
268,54,1,0,122,286,0,116,1,3.2,1,2
33,54,1,2,125,273,0,152,0,0.5,0,2
5,57,1,0,140,192,1,148,0,0.4,1,1
101,59,1,3,178,270,0,145,0,4.2,0,3
45,52,1,1,120,325,1,172,0,0.2,2,2
175,40,1,0,110,167,0,114,1,2.0,1,3
118,46,0,1,105,204,1,172,0,0.0,2,2
46,44,1,2,140,235,0,180,0,0.0,2,2

In [11]:
reg2.fit(X_train, y_train)

C:\Users\HP\anaconda3\envs\newenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [12]:
filename = 'heart-model'
joblib.dump(reg2, filename)

['heart-model']